$main-font: "Roboto", sans-serif;

$primary-color: #2075F5;
$primary-color-op:#2075f563;
$m-b-20: 20px;

$height-content: 80px;

$bg-white: rgba(255, 255, 255);
$bg-black: rgba(0, 0, 0);
$bg-inherit: rgba(38, 38, 38);
$bg-gray: #bababa;

$button: #25354c;

$white-color: white;

$text-white: rgba(240, 240, 240);
$text-black: rgb(0, 0, 0);
$text-gray: #696969;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 32px;
$border-radius-xl: 64px;

$font-size-sm: 8px;
$font-size-md: 16px;
$font-size-lg: 32px;
$font-size-xl: 64px;

$h1: 2em;
$h2: 1.5em;
$h3: 1.17em;
$h4: 1em;
$h5: 0.83em;
$h6: 0.67em;

$header-height: 80px;
$image-slider-height: 600px;
$max-width: 100%;

$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 75em;
$xxl: 87.5em;

$search-color: #999;

$main-cursor: pointer;

$opacity: 0.8;

$width-side-nav: 180px;

$box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
$border: 1px solid var(--bs-border-color);