.contact-btn {
    position: fixed;
    left: 20px; 
    bottom: 40px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        a {
            text-decoration: none;
            animation: shake 1.5s infinite;
            i {
                color: var(--bs-white);
                font-size: 1.4rem;
            }
        }
    }

    &__item::before {
        position: absolute;
        content: "";
        width: 140%;
        height: 140%;
        border-radius: 50%;
        opacity: 0.2;
        animation: enlarge 2s infinite;
    }

    &__chat {
        margin-bottom: 30px;
        background-color: #097fff;
    }

    &__chat::before {
        background-color: #89b7f0;
    }

    &__phone {
        background-color: #de3335;
    }

    &__phone::before {
        background-color: #dd5452;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(25deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    30% {
        transform: rotate(25deg);
    }
    40% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes enlarge {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.7);
    }
}